body, html {
    background-color: #515151;
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden; /* Verhindert das Scrollen */
}

.fullscreen-image {
    background-image: url('pictures/Kalender001.png'); /* Pfad zu deinem Bild */
    background-size: cover; /* Bild wird skaliert, um den gesamten Bereich abzudecken */
    background-position: center; /* Bild wird zentriert */
    background-repeat: no-repeat; /* Verhindert das Wiederholen des Bildes */
    height: 100vh;
    width: 100vw;
    display: flex; /* Flexbox aktivieren */
    justify-content: center; /* Horizontale Zentrierung */
    align-items: center; /* Vertikale Zentrierung */
}

.navbar {
    display: flex;
    width: 568px;
    background:linear-gradient( rgba(0, 0, 0, 0.5), rgba(128, 128, 128, 0.3));
    padding: 10px 20px; 
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    position: fixed;
    top: 33.5%; /* Positioniere die Navbar in der Mitte */
    left: 50%; /* Positioniere die Navbar in der Mitte */
    transform: translate(-50%, -50%); /* Zentriere die Navbar */
    z-index: 1000;
    height: 60px; 
}

.nav-buttons {
    display: flex;
    align-items: center; 
    gap: 10px;
    transition: transform 0.3s ease;
}


.nav-button {
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
    width: 180px;
    height: 40px;
    border: none;
    background: linear-gradient( rgba(0, 0, 0, 0.7), rgb(117, 116, 116));
    color: white;
    cursor: pointer;
    border-radius: 5px;
    transition: background 0.3s;
}


.nav-button:hover {
    background: #ff9800;
    transform: scale(1.2); 
}



